/* 공통 스타일 */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #E6E6E6;
    font-family: 'NanumSquareRound';
}

a {
    text-decoration-line: none;
}

.sidebar a{
    color: inherit;
}

.sidebar a:hover{
    font-weight: bolder;
    font-size: large;
}

/* 로고 스타일 */
.logo {
    display: inline-block;
    background-color: #4a88e5;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

/* 문구 스타일 */
.tagline {
    display: inline-block;
    color: #000;
    text-align: center;
    font-size: 25px;
}

/* 버튼 스타일 */
.button {
    border-radius: 5px;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.plus-one {
    border-radius: 5px;
    color: #8f53b2;
    font-size: 30px;
    border: none;
    background-color: #E6E6E6;
    margin-right: 20px;
}

.my {
    background-color: #757575;
    color: #fff;
    border: 1px solid #757575;
    border-radius: 15px;
    padding: 10px;
    font-size: 18px;
    margin-right: 20px;
}

.sidebar {
    width: 300px;
    height: 100%;
    background: #f5f5f5;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    transition: all .35s;
}

#menuicon:checked+label+div {
    right: 0;
}

#menuicon {
    display: none;
}

#menuicon+label {
    display: inline-block;
    width: 38px;
    height: 28px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

#menuicon+label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #757575;
    transition: all .53s;
    z-index: 2;
}

#menuicon+label span:nth-child(1) {
    top: 0;
}

#menuicon+label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

#menuicon+label span:nth-child(3) {
    bottom: 0;
}

#menuicon:checked+label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

#menuicon:checked+label span:nth-child(2) {
    opacity: 0;
}

#menuicon:checked+label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.sidebox {
    text-align: left;
    margin: 80px 20px 0px 20px;
}

.title {
    font-size: x-large;
    font-weight: bolder;
}

.hr1 hr {
    height: 3px;
    background-color: #757575;
    border: none;
}

.video {
    margin-top: 20px;
    margin-bottom: 10px;
}

.post,
.problem,
.solv,
.writing,
.send,
.receive,
.login {
    margin-bottom: 10px;
}



/* 검색창 스타일 */
.search-container {
    text-align: center;
    margin-top: 10px;

}

#search-input {
    padding: 15px;
    width: 70%;
    font-size: 16px;
    border-radius: 30px;
    background-color: #757575;
    border: 1px solid #757575;
}

#search-button {
    position: relative;
    border-radius: 10px;
    left: -30px;
    padding: 15px 25px;
    font-size: 16px;
    border: 1px solid #757575;
}

/* 왼쪽 영역 스타일 */
.left {
    position: relative;
    float: left;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 20px;
    box-sizing: border-box;
}

.main {
    height: 800px;
    width: 100%;
    display: flex;
}

.random {
    margin: 5%;
    height: 35%;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.randombox {
    align-items: center;
    justify-content: center;
    display: flex;
}

.bo {
    display: flex;
    align-items: center;
    justify-content: right;
}

.next1 {
    border: none;
    background-color: #fff;
    padding: 25px;
    font-size: 30px;
    justify-content: right;
    display: flex;
    align-items: center;
}

/* 추천 동영상 및 랜덤 문제 스타일 */
.box {
    margin: 5%;
    height: 35%;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* 오른쪽 영역 스타일 */
.right-area {
    float: right;
    width: 50%;
    margin: 10px;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
}

.left-area{
    position: relative;
    float: right;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 20px;
    box-sizing: border-box;
}

.right {
    position: relative;
    float: right;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 20px;
    box-sizing: border-box;
}

/* 소스 코드 제목 스타일 */
.source-code {
    margin: 5%;
    height: 75%;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

/* 소스 코드 제목 스타일 */
.source-code-title {
    align-items: center;
    justify-content: center;
    display: flex;
}

/* 소스 코드 텍스트 스타일 */
.source-code-text {
    font-size: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* 금주 소스코드 랭킹 스타일 */
.ranking {
    font-size: 20px;
    color: #1E1E1E;
    margin-left: 5%;
}

.b {
    justify-content: right;
    display: flex;
    align-items: center;
}

.next2 {
    border: none;
    background-color: #fff;
    padding: 25px;
    font-size: 30px;
    justify-content: right;
    display: flex;
    align-items: center;
}