@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
}
* {
    padding: 0px;
    margin: 0px;
    background-color: #E6E6E6;
    font-family: 'NanumSquareRound';
}

a {
    text-decoration-line: none;
}

/* 로고 스타일 */
.logo {
    display: inline-block;
    padding: 10px;
}

.logoimg{
    width: 80px;
    height: 80px;
}

/* 문구 스타일 */
.practice {
    display: flex;
    color: #909090;
    text-align: center;
    font-size: 23px;
    align-items: center;
}

.title {
    display: flex;
    color: #000;
    text-align: center;
    font-size: 23px;
    align-items: center;
}

.up {
    display: flex;
}

.left {
    margin: 40px;
    flex: 5;
}

.le {
    display: flex;
    align-items: center;
}

.text {
    font-size: 23px;
    margin-right: 5px;
}

.explanation {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #c2c2c2;
    background-color: #c2c2c2;
}

.rigth {
    margin: 40px;
    flex: 5;
}

.answer {
    font-size: 23px;
}

.box {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #c2c2c2;
    background-color: #c2c2c2;
    text-align: start;
}

.un {
    display: flex;
}

.under {
    margin: 40px;
    margin-top: -10px;
}

.ex {
    font-size: 23px;
}

/* 문제 버튼 스타일 */

.write-button {
    padding: 10px;
    margin-left: auto;
    margin-right: 30px;
}

.write-button a {
    background-color: #c2c2c2;
    border: 1px solid #000000;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 13px;
    margin-left: 20px;
}