<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>profile</title>
</head>
<body>
<input type=hidden id="receiverId" th:value="${member.id}">
<p th:text="${member.memberName + '님 페이지'}"></p>
<button id="friendStatusButton" onclick="sendFriendRequest()">친구상태</button>
</body>
</html>

<script th:inline="javascript">
  var sessionUserName = /*[[${session.loginName}]]*/ '';
  var memberName = /*[[${member.memberName}]]*/ '';
  var memberId = /*[[${member.id}]]*/ '';
  var friendState = /*[[${friend != null ? friend.state : ''}]]*/ '';
  var friendStatusButton = document.getElementById("friendStatusButton");

  if (sessionUserName === memberName) {
    friendStatusButton.textContent = "본인 프로필!";
    friendStatusButton.disabled = true;
  }
  else if (friendState == '') {
    friendStatusButton.textContent = "친구 신청"
  }
  else if (friendState=="pending") {
    friendStatusButton.textContent = "친구 대기"
    friendStatusButton.disabled = true;
  }
  else if (friendState=="received") {
    friendStatusButton.textContent = "친구입니다"
    friendStatusButton.disabled = true;
  }
  else if (friendState=="deny") {
    friendStatusButton.textContent = "친구 거절"
    friendStatusButton.disabled = true;
  }
  else {
    friendStatusButton.textContent = "예외처리 필요"
    friendStatusButton.disabled = true;
  }

  function sendFriendRequest() {
    window.location.href = "/sendFriendRequest/" + memberId;
  }
</script>






