<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>search page</title>
  <link rel="stylesheet" href="/css/Search/search_page.css">
</head>

<body>
<div class="header">
  <div>
    <a href="/" class="logo">logo</a>
    <div class="tagline">Why? py!</div>
    <div class="right-area">
      <a href="#" class="button plus-one">+1</a>
      <a href="./profile_main.html" class="button my">my</a>
      <a href="#" class="button list">목록</a>
    </div>
  </div>
</div>

<form action="/searchPost" method="GET">
  <div class="search-container">
    <input type="text" id="search-input" name = "keyword" placeholder="검색어를 입력해주세요">
    <button type="submit" id="search-button">?</button>
  </div>
</form>


<div class="main">
  <div class="left">
    <div class="source">
      <div class="code">게시글</div>
      <div th:if="${postList != null}">
        <div class="sc">
          <div th:each="post : ${postList}">
            <div class="image"></div>
            <a class="title" th:href="@{/post/{postId}(postId=${post.postId})}" th:text="${post.title}"></a>
          </div>
        </div>
      </div>
      <div th:unless="${postList != null}" class="title">검색 결과가 없습니다. </div>
    </div>
  </div>
</div>
</body>

</html>