<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/problem_answer.css">
  <!-- CodeMirror 스타일시트 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.css">
  <!-- CodeMirror 스크립트 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.js"></script>
  <!-- CodeMirror 파이썬 모드 스크립트 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/python/python.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <title>problem answer</title>
</head>

<body>
<input type=hidden id="memberId" th:value="${member.id}">
<input type=hidden id="questionId" th:value="${question.id}">

<div class="header">
  <div>
    <a href="/" class="logo">logo</a>
    <a href="/questions" class="practice">연습문제 ></a>
    <div class="title" th:text="${question.title}"> 문제 제목</div>
  </div>
</div>
<div class="main">
  <div class="up">
    <div class="left">
      <div class="text">답안</div>
        <div th:if="${member != null}">
            <input type="checkbox" id="solveCheckbox" th:checked="${qsolve}"/>
        </div>
      <div class="explanation">
        <textarea class="code-editor" name="useranswer" th:text="${useranswer}">  </textarea>
      </div>
    </div>
    <div class="rigth">
      <div class="answer">정답</div>
      <div class="box">
        <textarea class="code-editor" name="answer" th:text="${question.answer}"> </textarea>
      </div>

    </div>
  </div>

  <div class="un">
    <div class="write-button">
      <a th:href="@{/questions/{questionId}(questionId=${question.id})}">뒤로가기</a>
      <a href="/questions">목록으로</a>
    </div>
  </div>
</div>

<script>
  var codeEditor = document.getElementsByClassName("code-editor");
  var editor = CodeMirror.fromTextArea(codeEditor[0], {
    lineNumbers: true,
    mode: "python",
    theme: "default",
    readOnly: true,
    cursorBlinkRate: -1,
  });

  var answerEditor = CodeMirror.fromTextArea(codeEditor[1], {
    lineNumbers: true,
    mode: "python",
    theme: "default",
    readOnly: true,
    cursorBlinkRate: -1,
  });


  $(document).ready(function() {
    $("#solveCheckbox").on("change", function() {

      var isChecked = $(this).prop("checked"); // 체크박스 상태
      var questionId = $("#questionId").val();
      var Url = "/questions/" + questionId + "/answer";

      $.ajax({
        type: "POST",
        url: Url,
        data: { qSolved: isChecked }, // qSolve 값 같이 전송
      });
    });
  });


</script>
</body>

</html>