<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/problem_solving.css">
  <!-- CodeMirror 스타일시트 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.css">
  <!-- CodeMirror 스크립트 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.js"></script>
  <!-- CodeMirror 파이썬 모드 스크립트 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/python/python.min.js"></script>

  <title>problem solving</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<input type=hidden id="questionId" th:value="${question.id}">
<body>
<div class="header">
  <div>
    <a href="/" class="logo">logo</a>
    <a href="/questions" class="practice">연습문제 ></a>
    <div class="title" th:text="${question.title}"> 문제 제목</div>
  </div>
</div>
<div class="main">
  <div class="up">
    <div class="left">
      <div class="text" th:text="${question.title}"></div>
      <div class="explanation" th:text="${question.contents}"></div>
    </div>
    <div class="rigth">
      <div class="answer">답안</div>
      <div class="box">
        <textarea id = "code" oninput="updateCodeMirror(this.value)" th:text="${useranswer != '' ? useranswer : '코드를 입력해주세요.'}">
        </textarea>
        <br>
      </div>
    </div>
  </div>
  <div class="un">
    <div class="under">
      <div class="ex">결과 예시</div>
      <div class="example" th:text="${question.example}"></div>
    </div>
    <div class="write-button">
      <button id="reset-button"> 초기화</button>
      <!-- 로그인 되어있으면 -->
      <button th:if="${member != null}" id="submitAnswer">정답 보기</button>
      <!-- 로그인 상태가 아니면 -->
          <a th:unless="${member != null}" href="/member/login">로그인</a>
      </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="/js/problem-solving.js"></script>

</body>

</html>