<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question List</title>
    <link rel="stylesheet" type="text/css" href="/css/problem_list.css">
    <script type="text/javascript" src="/js/problem_list.js"></script>
</head>

<body>
<div class="header">
    <div>
        <a href="/" class="logo">logo</a>
        <div class="tagline">Why?py!</div>
        <div class="right-area">
            <a href="#" class="button plus-one">+1</a>
            <a href="#" class="button my">my</a>
            <a href="#" class="button list">목록</a>
        </div>
    </div>
</div>
<div class="all">
    <div class="problem">
        <div class="title">
            <h2>전체 문제</h2>
        </div>
        <div class="list">
            <table>
                <tr>
                    <th>종류</th>
                    <th>제목</th>
                    <th>난이도</th>
                    <th>상태</th>
                </tr>
                <tr th:each="question : ${questions}">
                    <td class="q_category" th:text="${question.category}"></td>
                    <td>
                    <a th:href="@{/questions/{questionId}(questionId=${question.id})}" th:text="${question.title}"></a>
                    </td>
                    <td th:text="'LV.' + ${question.level}"></td>
                    <td th:text="${question.solved}"></td>
                    <!--<td><input type="checkbox" class="checkbox"></td>-->
                </tr>
            </table>
        </div>
    </div>
    <!-- 로그인 되어있으면 -->
    <div th:if="${member != null}">
        <div class="box">
            <div class="id" >아이디</div>
            <div class="id-text" th:text="${member.memberName}"></div>
            <br>
            <br>
            <div class="pro">해결한 문제</div>
            <div class="num" th:text="${SolveCount}"></div>
        </div>
    </div>

    <!-- 로그인 상태가 아니면 -->
    <div th:unless="${member != null}">
        <div class="box">
            <a href="/member/login">로그인</a>
        </div>
    </div>

    <div class="fil">
        <h3>필터</h3>
        <hr>
        <form th:action="@{/questions}" method="get">
            <div class="type">문제 종류</div>
            <input type="checkbox" name="category" value="1"> 연습문제
            <input type="checkbox" name="category" value="2"> 직무문제

            <div th:if="${member != null}" class="status">상태 </div>
            <div th:if="${member != null}" id="statusChecklist">
                <input type="checkbox" name="solvedList" value="true"> 푼 문제
                <input type="checkbox" name="solvedList" value="false"> 안 푼 문제
            </div>

            <div class="level">레벨</div>
            <input type="checkbox" name="level" value="1"> LV.1
            <input type="checkbox" name="level" value="2"> LV.2

            <button type="submit">필터 적용</button>
        </form>
    </div>


</div>
<div class="search-container">
    <input type="text" id="search-input">
    <button type="submit" id="search-button">?</button>
</div>


</body>


<script>

    // 맨 처음에는 모든 체크박스 선택 해제
    document.addEventListener('DOMContentLoaded', function() {
        var statusCheckboxes = document.querySelectorAll('#statusChecklist input[type="checkbox"]');
        var allUnchecked = true;

        statusCheckboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                allUnchecked = false;
            }
        });

        if (allUnchecked) {
            statusCheckboxes.forEach(function(checkbox) {
                checkbox.checked = true;
            });
        }

        // 이전 선택한 필터 체크 유지
        var urlParams = new URLSearchParams(window.location.search);
        urlParams.forEach(function(value, key) {
            var inputElement = document.querySelector(`[name="${key}"][value="${value}"]`);
            if (inputElement) {
                inputElement.checked = true;
            }
        });
    });


    document.addEventListener('DOMContentLoaded', function() {
        // 이전 선택한 필터를 복원하기 위한 URL의 쿼리 매개변수
        var urlParams = new URLSearchParams(window.location.search);

        // 초기에는 상태 체크박스 선택 해제
        var solvedCheckboxes = document.querySelectorAll('input[name="solvedList"]');
        solvedCheckboxes.forEach(function(checkbox) {
            checkbox.checked = false;
        });

        // 체크박스 상태 복원
        urlParams.forEach(function(value, key) {
            if (key === "solvedList") {
                solvedCheckboxes.forEach(function(checkbox) {
                    if (checkbox.value === value) {
                        checkbox.checked = true;
                    }
                });
            }
        });
    });

</script>

</html>
