<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>full article page</title>
    <link rel="stylesheet" type="text/css" href="/css/full-article-page.css">
</head>

<body>
    <div class="up">
        <div>
            <div class="menu">
                <div class="le">
                    <div class="logo">
                    <img class="logoimg" src="/icon/logo2.png">
                    </div>
                    <div class="tagline">Why? py!</div>
                </div>
                <div class="right-area">
                    <button class="plus-one">+1</button>
                    <button class="my">my</button>
                    <input type="checkbox" id="menuicon">
                    <label for="menuicon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                    <div class="sidebar">
                        <div class="sidebox">
                            <div class="title">Menu</div>
                            <div class="hr1">
                                <hr>
                            </div>
                            <div class="video"><a href="/lectures">동영상 강의</a></div>
                            <div class="post"><a href="/postList">게시글</a></div>
                            <div class="problem"><a href="/questions">문제풀기</a></div>
                            <!--<div class="solv">문제풀기</div>-->
                            <div class="hr2">
                                <hr>
                            </div>
                            <div class="writing"><a href = "/sendLetter"> 쪽지쓰기 </a></div>
                            <div class="send"><a href = "/sentLetters"> 보낸 쪽지함 </a></div>
                            <div class="receive"><a href = "/receivedLetters"> 받은 쪽지함 </a></div>
                            <div class="hr2">
                                <hr>
                            </div>
                            <div class="login" th:unless="${loginName != null}"><a href="/member/login">로그인</a></div>
                            <div class="logout" th:if="${loginName != null}"> <a href="/member/logout">로그아웃</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content-area">
        <div class="main-menu">
            <li><button onclick="location.href='/postList'" class="writing">전체글</button></li>
            <div class="select">
                <button onclick="opensetting1()" class="job">직종별
                    <img class="togglebutton" src="/icon/toggle-button1.svg">
                </button>
                <nav id="job_nav">
                    <ul>
                        <li><button onclick="filterByBoard('데이터 수집')" class="job1">데이터 수집</button></li>
                        <li><button onclick="filterByBoard('데이터 분석')" class="job1">데이터 분석</button></li>
                        <li><button onclick="filterByBoard('데이터 보호')" class="job1">데이터 보호</button></li>
                    </ul>
                </nav>
                <button onclick="opensetting2()" class="lan">언어별
                    <img class="togglebutton" src="/icon/toggle-button1.svg">
                </button>
                <nav id="lan_nav">
                    <ul>
                        <li><button onclick="filterByBoard('python')" class="lan">python</button></li>
                        <li><button onclick="filterByBoard('java')" class="lan">java</button></li>
                        <li><button onclick="filterByBoard('html')" class="lan">html</button></li>
                    </ul>
                </nav>
            </div>
            <li><button onclick="filterByBoard('자유게시판')" class="free">자유게시판</button></li>
        </div>
        <div class="main-content">
            <div class="al" th:text="${board}"></div>
            <div class="write-button">
                <a href="/createPost">작성하기</a>
            </div>
            <div class="all">
                <table>
                    <thead>
                        <th>번호</th>
                        <th>게시판</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>등록일</th>
                        <th>추천수</th>
                    </thead>
                    <tbody align="center">
                        <tr th:each="post, index : ${posts}">
                            <td th:text="${post.postId}"></td>
                            <td th:text="${post.board}"></td>
                            <td>
                                <a th:href="@{/post/{postId}(postId=${post.postId})}" th:text="${post.title}"></a>
                            </td>
                            <td>
                                <span th:if="${post.isAnonymous}">익명</span>
                                <span th:unless="${post.isAnonymous}" th:text="${nicknames[__${index.index}__]}"></span>
                            </td>
                            <td th:text="${post.createDate}"></td>
                            <td th:text="${post.recmdNum}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <form th:action="@{/searchPost}" method="get">
        <div class="search-container">
            <input type="text" name="keyword" id="search-input">
            <button type="submit" id="search-button">?</button>
        </div>
    </form>
</body>
<script>
    function opensetting1() {
        if (document.getElementById('job_nav').style.display === 'block') {
            document.getElementById('job_nav').style.display = 'none';
        } else {
            document.getElementById('job_nav').style.display = 'block';
        }
    }
    function opensetting2() {
        if (document.getElementById('lan_nav').style.display === 'block') {
            document.getElementById('lan_nav').style.display = 'none';
        } else {
            document.getElementById('lan_nav').style.display = 'block';
        }
    }

    function filterByBoard(board) {
        window.location.href = '/postList/' + board;
    }
</script>
</html>