<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/prism.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/prism.js"></script>
    <script src="/js/home.js" defer></script>
    <meta charset="UTF-8">
    <title>Main Website</title>
</head>
<body>
<input type=hidden id="memberId" th:value="${unsolvedQuestions}">
    <div class="up">
        <div>
            <div class="logo">logo</div>
            <div class="tagline">Why? py!</div>
            <div class="right-area">
                <a href="#" class="button plus-one">+1</a>
                <a href="/member/mypage" class="button my">my</a>
                <a href="#" class="button list">목록</a>
            </div>
        </div>
    </div>

    <form action="/search" method="GET">
    <div class="search-container">
        <input type="text" id="search-input" name = "keyword" placeholder="검색어를 입력해주세요">
        <button type="submit" id="search-button">?</button>
    </div>
    </form>

    <div class="main">
        <div class="left-area">
            <!--<div class="box" onclick="redirectToLectures()">-->
            <div class="box">
                <th:block th:if="${#lists.isEmpty(notwatchLectures)}">
                    <p>모든 강의를 시청하셨습니다</p>
                </th:block>
                <th:block th:unless="${#lists.isEmpty(notwatchLectures)}">
                    <!-- ${notwatchLectures}가 비어있지 않은 경우 -->
                    <ul>
                        <th:block th:each="lecture : ${notwatchLectures}">
                            <li>
                                <p><a th:href="@{/lectures/{id}(id=${lecture.lectureId})}">
                                    <span th:text="${lecture.title}"></span>
                                </a></p>
                            </li>
                        </th:block>
                    </ul>
                </th:block>
            </div>

            <!--<div class="box" onclick="redirectToQuestions()">-->
            <div class="box">
            <th:block th:each="question : ${unsolvedQuestions}">
                <li>
                    <p><a th:href="@{/questions/{id}(id=${question.id})}">
                        <span th:text="${question.title}"></span>
                    </a></p>
                </li>
            </th:block>
            </div>
        </div>

        <div class="right-area">
            <div class="ranking">금주 소스코드 랭킹</div>
            <div class="source-code">
                <a class="source-code-title" th:href="@{/post/{postId}(postId=${topPost[0].postId})}" th:text="${topPost[0].title}"></a>
                <br>
                <br>
                <div class="source-code-text" id="contents" th:text="${topPost[0].contents}"></div>
            </div>
        </div>
    </div>



<h2>Why?PY!</h2>
    <!-- 로그인 되어있으면 -->
<a th:if="${loginName != null}" href="/member/logout">로그아웃</a>
    <!-- 로그인 상태가 아니면 -->
    <a th:unless="${loginName != null}" href="/member/login">로그인</a>
<br>
<A href="/follow">친구추가</A>
<a href="/postList">Go to Post List!</a>
<!--<a href="/questionList">문제 목록 페이지</a>
<a href="/lectures">Go to Lecture List!</a>-->

</body>
</html>

