<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video List</title>
    <link rel="stylesheet" type="text/css" href="/css/lecture-list.css">
    <script type="text/javascript" src="/js/lecture-list.js"></script>
</head>

<body>
<div class="header">
    <div>
        <a href="/" class="logo">logo</a>
        <div class="tagline">Why? py!</div>
        <div class="right-area">
            <a href="#" class="button plus-one">+1</a>
            <a href="#" class="button my">my</a>
            <a href="#" class="button list">목록</a>
        </div>
        <div class="center">
            <div class="search-container">
                <input type="text" id="search-input">
                <button type="submit" id="search-button">?</button>
            </div>
        </div>
    </div>
</div>
<div class="content-area">
    <div class="main-menu">
        <li><a href="/lectures">전체보기</a></li>
        <li><a href="/lectures?category=1">강의</a></li>
        <li><a href="/lectures?category=2">문제풀이</a></li>
    </div>
    <div class="main-content">
        <div class="item" th:each="lecture : ${lectures}">
            <div>
                <img th:src="${lecture.thumbnail}" alt="Thumbnail">
            </div>
            <div>
                <a th:href="@{/lectures/{lectureId}(lectureId=${lecture.lectureId})}" th:text="${lecture.title}"></a>
                <p th:text="${lecture.uploader}"></p>
                <p class="l_category" th:text="${lecture.category}"></p>
            </div>
        </div>

    </div>
</div>



</body>

</html>