<!DOCTYPE html>
<html>
<head>
    <title>Lecture List</title>
    <style>
        .lecture-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 20px;
        }
        .lecture-list-item img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<h1>Lecture List</h1>
<div class="lecture-list">
    <th:block th:each="lecture : ${lectures}">
        <div class="lecture-list-item">
            <div>
                <img th:src="${lecture.thumbnail}" alt="Thumbnail">
            </div>
            <div>
                <a th:href="@{/lectures/{lectureId}(lectureId=${lecture.lectureId})}" th:text="${lecture.title}"></a>
                <p th:text="${lecture.uploader}"></p>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>
