<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/lecture-details.css">
    <script type="text/javascript" src="/js/lecture-details.js"></script>
    <title>play page</title>
</head>

<body>
<div class="header">
    <div>
        <a href="/" class="logo">logo</a>
        <div class="tagline">Why?py!</div>
        <div class="right-area">
            <a href="#" class="button my">my</a>
            <a href="#" class="button list">목록</a>
        </div>
        <div class="center">
            <div class="search-container">
                <input type="text" id="search-input">
                <button type="submit" id="search-button">?</button>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="left">
        <div >
            <iframe class="video" th:src="${'https://www.youtube.com/embed/' + lecture.videoId}"></iframe>
        </div>
        <div class="hr">
            <hr>
        </div>
        <div class="title" th:text="${lecture.title}">
        </div>
        <div class="day">2023.07.20</div>
        <div class="explanation" th:text="${lecture.uploader}"></div>
        <div class="category" th:text="${lecture.category}"></div>
    </div>

    <div class="right">
        <div class='v-line'></div>
        <div th:each="lecture, stat : ${lectures}" th:limit="5">
            <div class="lien1" th:if="${stat.index &lt; 5}">
                <div class="video1">
                    <img th:src="${lecture.thumbnail}" alt="Thumbnail">
                </div>
                <div class="title1">
                    <a th:href="@{/lectures/{lectureId}(lectureId=${lecture.lectureId})}" th:text="${lecture.title}"></a>
                </div>
                <div class="category" th:text="${lecture.category}"></div>
            </div>
        </div>

        <b>추천 동영상</b>
        <div th:each="lecture : ${recmdLecture}">
            <div class="lien2">
                <div class="video1">
                    <img th:src="${lecture.thumbnail}" alt="Thumbnail">
                </div>
                <div class="title1">
                    <a th:href="@{/lectures/{lectureId}(lectureId=${lecture.lectureId})}" th:text="${lecture.title}"></a>
                </div>
                <div class="category" th:text="${lecture.category}"></div>
            </div>
        </div>

        <!--div class="lien1">
            <div class="video1">영상1</div>
            <div class="title1">동영상제목</div>
        </div>
        <div class="lien2">
            <div class="video1">영상2</div>
            <div class="title1">동영상제목</div>
        </div>
        <div class="lien3">
            <div class="video1">영상3</div>
            <div class="title1">동영상제목</div>
        </div>
        <div class="lien4">
            <div class="video1">영상4</div>
            <div class="title1">동영상제목</div>
        </div>
        <div class="lien5">
            <div class="video1">영상5</div>
            <div class="title1">동영상제목</div>
        </div-->

    </div>
</div>
</body>

</html>