<!DOCTYPE html>
<html>
<head>
    <title>Lecture Details</title>
    <style>
        .video-container {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;
            overflow: hidden;
        }

        .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        table {
            margin-top: 20px;
        }

        table th {
            text-align: right;
            padding-right: 10px;
        }
    </style>
</head>
<body>
<h1>Lecture Details</h1>

<div class="video-container">
    <iframe th:src="${'https://www.youtube.com/embed/' + lecture.videoId}"></iframe>
</div>

<table>
    <tr>
        <th>Lecture ID</th>
        <td th:text="${lecture.lectureId}"></td>
    </tr>
    <tr>
        <th>View Date</th>
        <td th:text="${lecture.viewDate}"></td>
    </tr>
    <tr>
        <th>URL</th>
        <td th:text="${lecture.url}"></td>
    </tr>
    <tr>
        <th>Title</th>
        <td th:text="${lecture.title}"></td>
    </tr>
    <tr>
        <th>Thumbnail</th>
        <td th:text="${lecture.thumbnail}"></td>
    </tr>
    <tr>
        <th>Uploader</th>
        <td th:text="${lecture.uploader}"></td>
    </tr>
</table>

</body>
</html>