<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <script src="/js/home.js" defer></script>
    <meta charset="UTF-8">
    <title>Main Website</title>
</head>
<body>
    <div class="up">
        <div>
            <div class="menu">
                <div class="le">
                    <div class="logo">
                    <img class="logoimg" src="/icon/logo2.png">
                    </div>
                    <a href="/" class="tagline">Why? py!</a>
                </div>
                <div class="right-area">
                    <button class="plus-one">+1</button>
                    <button class="my">my</button>
                    <input type="checkbox" id="menuicon">
                    <label for="menuicon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                    <div class="sidebar">
                        <div class="sidebox">
                            <div class="title">Menu</div>
                            <div class="hr1">
                                <hr>
                            </div>
                            <div class="video"><a href="/lectures">동영상 강의</a></div>
                            <div class="post"><a href="/postList">게시글</a></div>
                            <div class="problem"><a href="/questions">문제풀기</a></div>
                            <!--<div class="solv">문제풀기</div>-->
                            <div class="hr2">
                                <hr>
                            </div>
                            <div class="writing"><a href = "/sendLetter"> 쪽지쓰기 </a></div>
                            <div class="send"><a href = "/sentLetters"> 보낸 쪽지함 </a></div>
                            <div class="receive"><a href = "/receivedLetters"> 받은 쪽지함 </a></div>
                            <div class="hr2">
                                <hr>
                            </div>
                            <div class="login" th:unless="${loginName != null}"><a href="/member/login">로그인</a></div>
                            <div class="logout" th:if="${loginName != null}"> <a href="/member/logout">로그아웃</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="search-container">
    <input type="text" id="search-input">
    <button type="submit" id="search-button">?</button>
</div>

<div class="main">
    <div class="left-area">
        <div class="box" onclick="redirectToLectures()">오늘의 추천 동영상</div>
        <div class="box" onclick="redirectToQuestions()">랜덤 문제 풀어보기</div>
    </div>
    <div class="right-area">
        <div class="ranking">금주 소스코드 랭킹</div>
        <div class="source-code">
            <div class="source-code-title">소스코드 제목</div>
            <br>
            <br>
            <div class="source-code-text">소스코드</div>
        </div>
    </div>
</div>



<h2>Why?PY!</h2>
<br>

<a href="/postList">Go to Post List!</a>
<!--<a href="/questionList">문제 목록 페이지</a>
<a href="/lectures">Go to Lecture List!</a>-->
</body>
</html>

