<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/login-form.css">
  <script src="/js/login-form.js" defer></script>
  <title>Login Form</title>
</head>
<body>
<form action="login" method="POST">
  <div>
    아이디: <input name="id" type="text">
  </div>
  <div>
    비밀번호: <input name="password" type="password">
  </div>
  <button>로그인</button>
  <button type="button" onclick="a()">js test</button>
</form>
</body>
</html>