<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
</head>
    <p th:text="${session.loginName}"><h2>님 안녕하세요</h2></p>
<body>
<a href="/member/editInform">회원정보수정</a>
<a href="/member/logout">로그아웃</a>
<br><br>
<label for="dropdown">선택하세요:</label>
<select id="dropdown">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="9">9</option>
</select>
<button id="showProfile">프로필보기</button>
<br><br>
<button id="showFriendsRequest">친구신청보기</button>
<br>
<button id="showFriendsList">친구목록보기</button>
</body>
</html>

<script>
    const dropdown = document.getElementById("dropdown");
    const showProfileBtn = document.getElementById("showProfile");
    const showFriendsRequestBtn = document.getElementById("showFriendsRequest");
    const showFriendsListBtn = document.getElementById("showFriendsList");
    showProfileBtn.addEventListener("click", function() {
        const selectedMemberId = dropdown.value;
        window.location.href = "/profile/" + selectedMemberId;
    });
    showFriendsRequestBtn.addEventListener("click", function() {
        window.location.href = "/showFriendsRequest";
    });
    showFriendsListBtn.addEventListener("click", function() {
        window.location.href = "/showFriendsList";
    });
</script>