<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/prism.css">
  <title>Post Details</title>
</head>
<body>
<h1>Post Details</h1>

<input type=hidden id="postId" th:value="${post.postId}">
<input type=hidden id="postWriter" th:value="${post.writerID}">
<input type=hidden id="currentUser" th:value="${member.id}">
<input type=hidden id="recmdData" th:value="${recmd != null ? recmd.recmdId : ''}">
<button id="updateBtn" onclick="updatePost()">글 수정하기!</button>
<button id="deleteBtn" onclick="deletePost()">글 삭제하기!</button>
<button id="recmdBtn" onclick="recmdPost()">글 추천하기!</button>
<button id="shareBtn" onclick="sharePost()">글 공유하기!</button>

<table>
  <tr>
    <th>Post ID</th>
    <td th:text="${post.postId}"></td>
  </tr>
  <tr>
    <th>작성자</th>
    <td>
      <span th:if="${post.isAnonymous}">익명</span>
      <span th:unless="${post.isAnonymous}" th:text="${post.writerID}"></span>
    </td>
  </tr>
  <tr>
    <th>Create Date</th>
    <td th:text="${post.createDate}"></td>
  </tr>
  <tr>
    <th>Update Date</th>
    <td th:text="${post.updateDate}"></td>
  </tr>
  <tr>
    <th>Title</th>
    <td th:text="${post.title}"></td>
  </tr>
  <tr>
    <th>Contents</th>
    <td th:text="${post.contents}" id="contents"></td>
  </tr>
  <tr th:if="${post.imagePath}">
    <th>Image</th>
    <td>
      <img th:src="@{${post.imagePath}}" width="200" height="200" alt="Image">
    </td>
  </tr>
</table>

<div class="comments">
  <h3>댓글 목록</h3>
  <div th:if="${reply}">
    <div th:each="reply : ${reply}">
      <div class="reply">
        <p>댓글내용: <span th:text="${reply.comment}"></span></p>
        <p>작성일시: <span th:text="${reply.createDate}"></span></p>
        <p th:if="${reply.writerId == post.writerID}">
          <span th:if="${post.isAnonymous}">
            작성자: <span th:text="${'익명 (게시글 작성자)'}"></span>
          </span>
          <span th:unless="${post.isAnonymous}">
            작성자: <span th:text="${reply.writerId + ' (게시글 작성자)'}"></span>
          </span>
        </p>
        <p th:unless="${reply.writerId == post.writerID}">
          <span th:if="${reply.isAnonymous}">
              작성자: <span th:text="${'익명'}"></span>
          </span>
          <span th:unless="${reply.isAnonymous}">
              작성자: <span th:text="${reply.writerId}"></span>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>

<form th:action="@{/createReply}" method="post">
  <input type="hidden" name="postId" th:value="${post.postId}" />
  <textarea name="comment" th:placeholder="${session.loginName == null ? '회원만 작성할 수 있습니다.' : '댓글 작성'}"
            th:readonly="${session.loginName == null}"></textarea>
  <p th:if="${member.id == post.writerID}">
    <span th:if="${post.isAnonymous}">
      <label>익명 체크: <input type="checkbox" name="isAnonymous" checked="checked" disabled="disabled"/></label>
    </span>
    <span th:unless="${post.isAnonymous}">
      <label>익명 체크: <input type="checkbox" name="isAnonymous" disabled="disabled"/></label>
    </span>
  </p>
  <p th:unless="${member.id == post.writerID}">
    <label>익명 체크: <input type="checkbox" name="isAnonymous" /></label>
  </p>
  <button type="submit">작성</button>
</form>

<script type="text/javascript" src="/js/prism.js"></script>
</body>
</html>

<style>
  table {
    margin-top: 20px;
  }

  table th {
    text-align: right;
    padding-right: 10px;
  }
</style>

<script>
  function chkRecmd() {
    let val = document.getElementById('recmdData').value;
    let recmdBtn = document.getElementById('recmdBtn');
    if(val != 0) recmdBtn.style.color = "yellow"
  }

  function chkWriter() {
    let writer=document.getElementById('postWriter').value;
    let user=document.getElementById('currentUser').value;
    let deleteBtn = document.getElementById('deleteBtn');
    let updateBtn = document.getElementById('updateBtn');

    if(writer===user) {
      deleteBtn.style.display = 'block';
      updateBtn.style.display = 'block';
    }
    else {
      deleteBtn.style.display = 'none';
      updateBtn.style.display = 'none';
    }
  }

  function makeContents() {
    let contentsElement = document.getElementById("contents");
    let boldText = contentsElement.textContent.replace(/\*\*(.*?)\*\*/g, "<strong>$1</strong>");
    let trimText = boldText.replace(/\n/g, "<br>");
    //let codeText = trimText.replace(/\'\'\'(.*?)\'\'\'/g, "<pre><code class=\"language-css\">$1</code></pre>");
    let codeText = trimText.replace(/('''(.*?)''')/g, function(match, p1) {
      p1 = match.replace(/'''<br>/g, "");
      p1 = p1.replace(/'''/g, "");
      p1 = p1.replace(/<br\s*>/g, "\n");
      return "<pre><code class=\"language-css\">" + p1 + "</code></pre>";
    });

    console.log(codeText);
    contentsElement.innerHTML = codeText;
    Prism.highlightAll();
  }

  document.addEventListener("DOMContentLoaded", function() {
    makeContents();
    chkWriter();
    chkRecmd();
  });

  function deletePost(){
    let id=document.getElementById('postId').value;
    let isDelete =confirm("정말 삭제하시겠습니까?");
    if(isDelete){
      window.location.href="/post/"+id+"/deletePost";
    }
  }

  function updatePost() {
    let id = document.getElementById('postId').value;
    let isUpdate = confirm("게시글을 수정하시겠습니까?");
    if (isUpdate) {
      window.location.href = "/post/" + id + "/updatePost";
    }
  }

  function recmdPost(){
    let writer=document.getElementById('postWriter').value;
    let user=document.getElementById('currentUser').value;
    let recmdBtn = document.getElementById('recmdBtn');
    if(writer === user) alert('작성자는 추천을 누를 수 없습니다!');
    else if(recmdBtn.style.color == "yellow") alert('이미 추천한 게시물입니다!')
    else {
      let id = document.getElementById('postId').value;
      let Url = '/post/' + id + '/recmdPost';
      let otherPram = {
        method: 'POST',
      };
      fetch(Url, otherPram)
              .then((response) => response.json())
              .then((data) => {
                console.log(data);
              })
              .catch();
      recmdBtn.style.color = "yellow";
    }
  }

  function sharePost() {
    const currentUrl = window.location.href;

    if (navigator.clipboard) {
      navigator.clipboard.writeText(currentUrl)
              .then(() => {
                alert("URL이 클립보드에 복사되었습니다!");
              })
              .catch((error) => {
                console.error("클립보드 복사 실패:", error);
              });
    } else {
      const tempTextArea = document.createElement("textarea");
      tempTextArea.value = currentUrl;
      document.body.appendChild(tempTextArea);
      tempTextArea.select();
      document.execCommand("copy");
      document.body.removeChild(tempTextArea);
      alert("URL이 클립보드에 복사되었습니다!");
    }
  }
</script>