<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/prism.css">
  <title>Post Details</title>
</head>
<body>
<h1>Post Details</h1>

<button onclick="updatePost()">글 수정하기!
  <input type=hidden id="updateId" th:value="${post.postId}">
</button>
<button onclick="deletePost()">글 삭제하기!
  <input type=hidden id="deleteId" th:value="${post.postId}">
</button>

<table>
  <tr>
    <th>Post ID</th>
    <td th:text="${post.postId}"></td>
  </tr>
  <tr>
    <th>Create Date</th>
    <td th:text="${post.createDate}"></td>
  </tr>
  <tr>
    <th>Update Date</th>
    <td th:text="${post.updateDate}"></td>
  </tr>
  <tr>
    <th>Title</th>
    <td th:text="${post.title}"></td>
  </tr>
  <tr>
    <th>Contents</th>
    <td th:text="${post.contents}" id="contents"></td>
  </tr>
  <tr>
    <th>Image</th>
    <td>
      <img th:src="@{${post.imagePath}}" width="200" height="200" alt="Image">
    </td>
  </tr>
</table>
<script type="text/javascript" src="/js/prism.js"></script>
</body>
</html>

<style>
  table {
    margin-top: 20px;
  }

  table th {
    text-align: right;
    padding-right: 10px;
  }
</style>

<script>
  // window.onload = function() {
  //     let content = document.getElementById('contents');
  //     var boldText = content.textContent.replace(/<b>(.*?)<\/b>/g, "<b><strong>$1</strong></b>");
  //     content.textContent = boldText;
  //     //console.log(content.textContent);
  //     //content.textContent="onload";
  // };
  document.addEventListener("DOMContentLoaded", function() {
    let contentsElement = document.getElementById("contents");
    let boldText = contentsElement.textContent.replace(/\*\*(.*?)\*\*/g, "<strong>$1</strong>");
    let trimText = boldText.replace(/\n/g, "<br>");
    //let codeText = trimText.replace(/\'\'\'(.*?)\'\'\'/g, "<pre><code class=\"language-css\">$1</code></pre>");
    let codeText = trimText.replace(/('''(.*?)''')/g, function(match, p1) {
      p1 = match.replace(/'''<br>/g, "");
      p1 = p1.replace(/'''/g, "");
      p1 = p1.replace(/<br\s*>/g, "\n");
      return "<pre><code class=\"language-css\">" + p1 + "</code></pre>";
    });

    console.log(codeText);
    contentsElement.innerHTML = codeText;
    Prism.highlightAll();
  });

  function deletePost(){
    //작성자 확인 필요
    let id=document.getElementById('deleteId').value;
    let isDelete=confirm("정말 삭제하시겠습니까?");
    if(isDelete){
      window.location.href="/post/"+id+"/deletePost";
    }
  }

  function updatePost(){
    //작성자 확인 필요
    let id=document.getElementById('updateId').value;
    let isUpdate=confirm("게시글을 수정하시겠습니까?");
    if(isUpdate){
      window.location.href="/post/"+id+"/updatePost";
    }
  }
</script>