<!DOCTYPE html>
<html>
<head>
    <title>Post List</title>
    <style>
        .post-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 20px;
        }
        .post-list-item img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<h1>Post List</h1>
<div class="post-list">
    <button onclick="location.href='/createPost'">글 작성하기!</button>
    <th:block th:each="post : ${posts}">
        <div class="post-list-item">
            <div>
                <p th:text="${post.postId}"></p>
                <a th:href="@{/post/{postId}(postId=${post.postId})}" th:text="${post.title}"></a>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>
